body {
    background-color: #ffffff;
    padding-top: 140px;
    height: 1000px;
    min-width: 750px;
    
}

/* Navigation */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
    background-color: rgb(255, 255, 255, 80%);
    height: 113px;
}

.flexChildNav {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 70%;
}

/* tab navigation */

nav {
    display: flex;
    align-items: center;
    
}

#flexTabs {
    display: flex;
}


.navLinks {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: .5px ;
    color: #313131;
    list-style: none;
    
}

.navLinks a {
    text-decoration: none;
    color: #313131;
    margin-right: 30px;
   
}
.navLinks a {
    transition: all 0.3s ease 0;
}
.navLinks a:hover {
    color: #d63f48;
}

/*logo*/

.logoNav {
    cursor: pointer;
    display: flex;
    align-content: center;
    
}

/* Icons */

.socialLinks {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 30%;

}

.social {
    width: 45px;
    height: 45px;
    cursor: pointer;
    margin: 4px;
}

/* Hero Section */

#flexHero {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    margin: 25px;
    margin-top: -20px;
}

.flexHeroItem1 {
    width: 40%;
    margin-right: -150px;
}

.flexHeroItem2 {
    width: 35%;
}

.flexHeroItem1 h1 {
    font-family:'Raleway', sans-serif;
    font-size: 38px;
    font-weight: bold;
    text-align: left;
}

/* About Button */

#aboutButton {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    margin-left: -70px;
}

.linkButtonAbout {
    box-shadow: 0px 8px 6px #24242429;
    border: 2px solid #FD5863;
    border-radius: 53px;
    text-align: center;
    text-decoration: none;
    font-family:'Raleway', sans-serif; 
    font-size: 30px;
    font-weight: 300;
    padding: 14px 50px;
    color: #313131;
}


.linkButtonAbout {
    transition-duration: 0.4s;
  }
  
  .linkButtonAbout:hover {
    background-color: #ffffff;
    color: #343434;
    border: 4px solid #fd5863;
  }

  /* Hero image */

#heroImage {
    width: 400px;
    height: 400px;
}

/* Featured Projects */ 

#projects {
    background-color:white;
    margin: 25px;
    min-height: 1425px;
    min-width: 973px;
}

#projectTitle h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    font-weight: 700;
    padding-top: 10px;
    margin-bottom: 0px;
}

hr.line1 {
    border-color: #d63f48;
    border-style: solid;
    width: 902px;
    height: 1.5px;
    background-color: #d63f48;
    border-radius: 50px;
}

/* Projects */ 

#flexProject {
    display: flex;
    flex-direction: column;

}

.flexProjectItem {
    background-color: white;
    height: 380px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
    text-align: center;
    min-width: fit-content;
}

.flexProjectItem {
    display: flex;
    align-content: center;
    justify-content: center;
}

 /* Project Photos */

 .projectCover {
     min-width: fit-content;
 }

.projectPicture {
    height: 60%;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 55px;
}

 /* Text */

#project1descrip {
    width: 280px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

#project2descrip {
    width: 280px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

#project3descrip {
    width: 300px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.projectText h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}
 #Title3 {
     width: 280px;
     margin-left: 10px;
 }

 /* View Project Button */

 #project1Button a {
     text-decoration: none;
     color: #313131;
 }

 #project1Button {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 35px;
    border: 1px solid #FD5863;
    text-align: center;
    text-decoration: none;
    font-family:'Raleway', sans-serif; 
    font-size: 25px;
    font-weight: 300;
    padding: 10px 50px;
    width: 150px;
    margin-top: 40px;
    margin-left: 15px;
 }

 #project1Button {
    transition-duration: 0.4s;
  }
  
  #project1Button:hover {
    background-color: #ffffff;
    color: #343434;
    border: 3px solid #fd5863;
  }

  hr.line2 {
    border-color: #d63f48;
    border-style: solid;
    width: 151px;
    height: 1.5px;
    background-color: #d63f48;
    border-radius: 50px;
    margin-top: 50px;
}

/* About Page */    

/* Footer */

footer {
    background-color: #1a2d35 ;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 0px;

    display: flex;
    justify-content: center;
}

footer img {
    margin-right: 60px;
    width: fit-content;
    margin-left: 50px;
    padding-bottom: 50px;
}

footer div {
    margin: 0 auto;
    width: 33.3%;
    text-align: center;
    color: #D6D6D6;
    font-family:'Open Sans', sans-serif;
    font-size:25px;
    font-weight: 400;
}

footer div h4 {
    font-size: 15px;
    font-weight: 600px;
    font-family:'Open Sans', sans-serif;
}

.linkButtonEmail {
    color: #D6D6D6;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 300px;
}

.linkButtonEmail {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 35px;
    background-color: #d63f48;
    text-align: center;
    text-decoration: none;
    font-family:'Raleway', sans-serif; 
    font-size: 20px;
    font-weight: 300;
    padding: 10px 50px;
 }

 .linkButtonEmail {
    transition-duration: 0.4s;
 }

 .linkButtonEmail:hover {
    opacity: .8;
 }


footer div, h5 {
    font-size: 12px;
    font-weight: 400px;
}

footer ul {
    width: fit-content;
    margin: 0 auto;
    margin-top: 25px;
    padding-right: 50px;
}

footer a {
    text-decoration: none;
    color: #D6D6D6;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500px;

}

footer ul a:hover {
    transition-duration: 0.4s;
    color: #d63f48;
}

footer li {
    list-style: none;
    margin-bottom: 10px;
}